*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    display: inline-block;
    direction: none;
}
.navbar{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li-navbar{
    display: flex;
flex-direction: row;
gap: 60px;
align-items: center;
list-style-type: none;
font-weight: normal;
font-size: 16px;
}
.image-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.hr{
    color: #00000000;
    margin-top: 40px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.header{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}


.center-header{
    display: flex;
    top: 0;
    left: 0;
    position: relative;
    
}
.image-center{
    position: absolute;
    top: 50px;
    left: 540px;
}
.left,.right{
    height: 474px;
    margin-top: 15px;
}
.image-left{
    position: relative;
}
.span{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 16px;
    color: black;
    display: flex;
flex-direction: column;
}
.top-header{
    width: 160px;
   font-weight: normal;
    display: flex;
    align-items: center;
    gap: 13px;
    border: white;
    background-color: white;
    padding: 11px 20px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 30px;
}
.p{
display: inline-block;
}
.text-header{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 64px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.lorem{
    padding-top: 20px;
    padding-left: 50px;
}
.time{
   padding-left: 50px;
   padding-top: 15px;
    display: flex;
    gap: 16px;
}
.time-left{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 30px;
    padding:8px 16px ;
    border: none;
    background-color: #0000000D;
}
.time-right{
    display: flex;
    gap: 10px;
    padding: 8px 16px;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: #0000000D;
}
.user{
    display: flex;
    gap: 150px;
    padding-left: 50px;
    padding-top: 50px;  
}
.user-left{
    display: flex;
    gap: 16px;
    align-items: center;
}
.image-user-left img{
    border-radius: 100px;
}
.text-user-left{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.text-user-left span{
    color: #00000099;
}
.user-right{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid;
    background-color: #000000;
    padding: 18px 36px;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 14px;
    font-weight: normal;
}




.categories-card{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
}
.categories{
    display: flex;
    justify-content: space-between;
}
.categories h1{
font-size: 48px;
font-weight: normal;
}
.categories p{
border: none;
background: #E7FAFE;
color: #000000;
border-radius: 16px;
padding: 20px 27px;
}
.categories-vegetables{
    font-size: 18px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
padding-top: 80px;
padding-bottom: 30px;
}
.border{
    background: linear-gradient(to bottom ,#70824600,#7082461A);
    height: 120px;
    width: 140px;
    text-align: center;
    border-radius: 30px;
}
.border img{
margin-top: -44px;
} 
.border-span{
    padding-top: 40px;
}

.border1{
    background: linear-gradient(to bottom ,#6CC63F00,#6CC63F1A);
    height: 120px;
    width: 140px;
    text-align: center;
    border-radius: 30px;
}
.border1 img{
margin-top: -44px;
} 

.border2{
    background: linear-gradient(to bottom ,#CC261B00,#CC261B1A);
    height: 120px;
    width: 140px;
    text-align: center;
    border-radius: 30px;
}
.border2 img{
margin-top: -44px;
} 

.border3{
    background: linear-gradient(to bottom ,#F09E0000,#F09E001A);
    height: 120px;
    width: 140px;
    text-align: center;
    border-radius: 30px;
}
.border3 img{
margin-top: -44px;
} 

.border4{
    background: linear-gradient(to bottom ,#00000000,#0000000D);
    height: 120px;
    width: 140px;
    text-align: center;
    border-radius: 30px;
}
.border4 img{
margin-top: -44px;
} 

.border5{
    background: linear-gradient(to bottom ,#00000000,#0000000D);
    height: 120px;
    width: 140px;
    text-align: center;
    border-radius: 30px;
}
.border5 img{
margin-top: -44px;
} 





.recipes{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 183px;
  }
  .recipes h1{
    text-align: center;
    color: black;
  }
  .recipes p{
    text-align: center;
    color: #00000099;
    margin-top: 24px;
  }
  .recipes-food{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 96px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 30px;
  }
  .food1{
  background:linear-gradient(to bottom , #E7F9FD00,#E7F9FD);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  border-radius: 30px;
  }
  .food1 img{
    border-radius: 30px;
  }
  .like{
    position: relative;
  }
  .like1{
    position: absolute;
    margin-top: 16px;
    margin-left: 270px;
  }
  .food1-span{
    padding-left: 24px;
    font-size: 24px;
    margin-top: 24px;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .date-food{
    display: flex;
    gap: 24px;
   margin-top: 24px;
  
  }
  .date-food-left ,
  .date-food-right{
    display: flex;
    gap: 4px;
    align-items: center;
    color: #00000099;
    padding-right:24px ;
  }
  .food2{
    background:radial-gradient(#3A795B00,#3A795B);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  }
  .food2-text{
  align-items: center;
  padding-top: 35px;
  color: #FFFFFF;
  font-size: 24px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .food2-img{
    display: flex;
    flex-direction: column;
    align-items: center;
  height: 336px;
  position: relative;
  }
  .food2-span{
  position: absolute;
  top: 0%;
  left: 0;
  padding-top: 260px;
  text-align: center;
  padding-left: 117px;
  color: #FFFFFF;
  font-size: 14px;
  }
  .text1{
    text-align: center;
  }



