//colors
$color-primary-300:#000000;
$color-secondary-300:#ffffff;
$color-three-300:#0000ff;
$color-four-300:#2d2da1;
$color-five-300:#8f9df7;
$color-six-300:#00000000;
$color-seven-300:#0000000D;
$color-eight-300:#00000099;
$color-nine-300:#E7FAFE;
$color-ten-300:#70824600;
$color-eleven-300:#7082461A;
$color-12-300:#6CC63F00;
$color-13-300:#6CC63F1A;
$color-14-300:#CC261B00;
$color-15-300:#CC261B1A;
$color-16-300:#F09E0000;
$color-17-300:#F09E001A;
$color-18-300:#E7F9FD00;
$color-19-300:#E7F9FD;
$color-20-300:#3A795B00;
$color-21-300:#3A795B;
$color-22-300:#121212B2;
$color-23-300:#F9F9F9;
$color-24-300:#00000066;
$color-25-300:#0000001A;




//spacing

$spc-0:0;
$spc-1:4px;
$spc-2:8px;
$spc-3:12px;
$spc-4:16px;
$spc-5:20px;
$spc-6:24px;
$spc-7:28px;
$spc-8:32px;
$spc-9:36px;
$spc-10:40px;
$spc-11:50px;
$spc-12:60px;
$spc-13:64px;
$spc-100:100px;
$spc-101:474px;
$spc-102:160px;
$spc-103:10px;
$spc-104:150px;
$spc-105:1px;
$spc-106:540px;
$spc-107:80px;
$spc-108:120px;
$spc-109:140px;
$spc-110:44px;
$spc-111:183px;
$spc-112:96px;
$spc-113:380px;
$spc-114:270px;
$spc-115:336px;
$spc-116:260px;
$spc-117:170px;
$spc-118:960px;
$spc-119:220px;
$spc-120:6px;
$spc-121:70px;
$spc-122:229px;
$spc-123:450px;
$spc-124:780px;
$spc-125:190px;
$spc-126:440px;
$spc-127:48px;
$spc-128:114px;
$spc-129:200px;
$spc-200:20%;
$spc-201:10%;
$spc-202:16%;
$spc-203:24%;
$spc-204:7%;
$spc-205:8%;
$spc-206:13%;
$spc-207:18%;
$spc-208:2%;
$spc-209:27%;
$spc-210:21%;
$spc-300:30%;
$spc-350:35%;
$spc-400:40%;
$spc-500:50%;
$spc-501:5%;
$spc-600:60%;
$spc-700:70%;
$spc-800:80%;
$spc-900:90%;
$spc-1000:1000%;
$spc-full:100%;
$spc-half:50%;
$rem-10:1rem;
$rem-20:2rem;
$rem-30:3rem;
$rem-40:4rem;
$rem-50:5rem;
$rem-60:6rem;

//breckpoint

$brp-10:480px;
$brp-20:500px;
$brp-30:800px;
$brp-40:1000px;
$brp-50:1200px;
$brp-60:1400px;

//font size
$font-s-10:16px;




//rotate
$rt-0:0deg;
$rt-1:1deg;
$rt-2:2deg;
$rt-3:3deg;
$rt-4:4deg;
$rt-5:5deg;
$rt-32:32deg;
$rt-45:45deg;
$rt-100:180deg;

