.chef{
   @include size;
    width: $spc-full;
    margin-top: $spc-117;
    margin-bottom: $spc-102;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    @media(max-width:780px){
      margin-left: auto;
      margin-right: auto;
      padding-right: $spc-5;
      align-items: center;
      flex-direction: column;
    }
    &__img-chef{
        position: relative;
        background: linear-gradient(to bottom, rgba(231, 249, 253, 0) , $color-19-300);
        border-radius: $spc-8;
        width: $spc-500;
        @media(max-width:780px){
          height: $spc-129;
          object-fit: cover;
        }
        &__image-chef{
            position: absolute;
            bottom: $spc-0;
            @media(max-width:780px){
                  width: $spc-full;
                  height: $spc-full;
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;
              }
          }
          &__image-chef1{
            position: absolute;
            top: $spc-1 ;
            right:$spc-501 ;
            width: $spc-201;
            height: $spc-202;
            @media(max-width:780px){
                  display: none;
              }
          }
          &__image-chef2{
            position: absolute;
            top:-$spc-501 ;
            right:$spc-203 ;
            width: $spc-204;
            height: $spc-201;
            @media(max-width:780px){
                display: none;
            }
          }
          &__image-chef3{
            position: absolute;
            top:-$spc-205 ;
            left:$spc-206 ;
            width: $spc-206;
            height:$spc-207;
            rotate: -$rt-5;
            @media(max-width:780px){
                display: none;
            }
          }
          &__image-chef4{
            position: absolute;
            bottom: $spc-203;
            left:-$spc-208 ;
            width: $spc-204;
            height: $spc-206;
            @media(max-width:780px){
                display: none;
            }
          }
    }
    &__text-chef{
        margin-top: $spc-8;
        @media(max-width:780px){
              text-align: center;
              margin-left: auto;
              margin-right: auto;
          }
          & p{
                margin-top: $spc-6;
                color: $color-eight-300;
          }
          & h1{
            font-size: $spc-10;
            font-weight: normal;
          }
          &__btn-chef{
            margin-top: $spc-6;
            padding: $spc-5 $spc-11;
            border-radius: $spc-4;
            background-color: $color-primary-300;
            color: $color-secondary-300;
            border: none;
            }
      }
}