.footer-text{
    @include size;
    margin-top: $spc-102;
    &__footer-text-logo{
        @media(max-width:780px) {
           display: none;
          }
    }
    &__footer-text-ul{
        display: flex;
        gap: $spc-12;
        list-style-type: none;
          font-weight: normal;
          font-size: $spc-4;
          white-space: nowrap;
          @media(max-width:780px) {
          display: flex;
          justify-content: center;
          }
      }
      &__footer-text-p{
        color: $color-eight-300;
      font-size: $spc-4;
      @media(max-width:780px) {
       display: none;
      }
      }
      &__footer-text-line{
        border: $spc-105 solid;
        margin-top: $spc-127;
        color:  $color-25-300;
      }
      &__footer-finish{
        margin-top: $spc-127;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spc-127;
        @media(max-width:780px) {
          display: flex;
          flex-direction: column-reverse;
          gap: $spc-8;
          }
          &__color-p{
            display: flex;
            font-size: $spc-4;
            color:  $color-eight-300;
            & span{
                color: rgba(255, 0, 0, 0.87); 
            }
          }
          &__footer-logo-img{
            display: flex;
            gap: $spc-10;
          }
        }
  }