.header{
    max-width: $brp-60;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   margin-top: $spc-10;
    margin-left: auto;
    margin-right: auto;
    gap: $rem-20;
    @media(max-width:780px){
          display: none;
      }
    &__left{
        height: $spc-101;
        margin-top: $spc-4;
    }
    &__center-header{
        display: flex;
        top: $spc-0;
        left: $spc-0;
        position: relative;  
        
        &__image-left{
            position: relative;

            &__span{
                width: $spc-full;
                height: $spc-full;
                top: $spc-0;
                left: $spc-0;
                position: absolute;
                padding: $spc-4;
                color: $color-primary-300;
                display: flex;
            flex-direction: column;
            &__top-header{
                width: $spc-102;
                font-weight: normal;
                 display: flex;
                 align-items: center;
                 gap: $spc-3;
                 border: $color-secondary-300;
                 background-color: $color-secondary-300;
                 padding: $spc-3 $spc-5;
                 border-radius: $spc-8;
                 margin-left: $spc-11;
                 margin-top: $spc-7;
                 &__p{
                    display: inline-block;
                 }
            }
            &__text-header{
                padding-top: $spc-5;
    padding-left: $spc-11;
    font-size: $spc-13;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
            }
            &__lorem{
                padding-top: $spc-5;
                padding-left: $spc-11;
                color: $color-eight-300;
            }
            &__time{
                padding-left: $spc-11;
                padding-top: $spc-4;
                 display: flex;
                 gap: $spc-4;
            
                 &__time-left{
                    display: flex;
                    gap: $spc-103;
                    align-items: center;
                    border-radius: $spc-8;
                    padding:$spc-2 $spc-4 ;
                    border: none;
                    background-color: $color-seven-300;
                    color: $color-eight-300;
                 }
                 &__time-right{
                    display: flex;
                    gap: $spc-103;
                    padding: $spc-2 $spc-4;
                    align-items: center;
                    border-radius: $spc-8;
                    border: none;
                    background-color: $color-seven-300;
                    color: $color-eight-300;
                 }
            }
            &__user{
                display: flex;
                gap: $spc-104;
                padding-left: $spc-11;
                padding-top: $spc-11; 
                &__user-left{
                    display: flex;
                    gap: $spc-4;
                    align-items: center;
                    &__image-user-left img{
                        border-radius: $spc-100;
                    }
                   &__text-user-left{
                    display: flex;
                    flex-direction: column;
                    gap: $spc-2;
                    & span{
                        color: $color-eight-300;
                    }
                   }
                }
                &__user-right{
                    display: flex;
                    align-items: center;
                    gap: $spc-4;
                    border: $spc-105 solid;
                    background-color: $color-primary-300;
                    padding: $spc-4 $spc-9;
                    color: $color-secondary-300;
                    border-radius: $spc-4;
                    font-size: $spc-4;
                    font-weight: normal;
                }
            }
            }
        }
        &__image-center{
            position: absolute;
            top: $spc-11;
            left: $spc-106;
        }
}
&__right{
    height: $spc-101;
margin-top: $spc-4;
}
}