.instagram{
    margin-top: $spc-102;
    background: linear-gradient($rt-100, rgba(231, 249, 253, 0) 0%, $color-19-300 $spc-full);
    height: $spc-118;
    @media(max-width:780px){
      height: $spc-full;
      width: $spc-900;
      margin-left: auto;
      margin-right: auto;
      }
      &__instagram-text{
        margin-top:$spc-107;
        text-align: center;
        & h1{
            font-size: $spc-10;
          font-weight: normal;
        }
        & p{
            color: $color-eight-300;
            margin-top: $spc-6;
        }
      }
      &__instagram-post{
       @include size;
        margin-top: $spc-107;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: $spc-3;
        margin-bottom: $spc-119;
        @media(max-width:780px){
              display: grid;
              grid-template-columns: 1fr;
              margin-left: auto;
              margin-right: auto;
              padding: $spc-0 $spc-3;
          }
          &__instagram-post1{
            display: flex;
            flex-direction: column;
            width: $spc-full;
            border: none;
            background-color: $color-secondary-300;
            @media(max-width:780px){
                width: $spc-900;
                margin-left: auto;
                margin-right: auto;
              }
            &__header-post{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: $spc-1 $spc-3;
                & img{
                    border-radius: $spc-8;
                }
                &__head-post{
                    display: flex;
                    gap: $spc-2;
                    align-items: center;
                    &__header-text{

                        &__tick{
                           display: flex;
                        }
                    }
                }
            }
            &__body-post{
                position: relative;
                &__top-body{
                    padding:$spc-120 $spc-2 ;
                    position: absolute;
                    top: $spc-0;
                    right: $spc-0;
                    margin-top: $spc-103;
                    margin-right: $spc-103;
                   border-radius: $spc-4;
                   background: $color-22-300;
                   color: $color-23-300;
                }
            }
            &__footer-post{
                &__footer-head{
                    display: flex;
                    justify-content: space-between;
                    padding: $spc-103 $spc-103;
                    &__share{
                        display: flex;
                        gap: $spc-2;
                    }
                }
                &__footer-body{
                    display: flex;
                    align-items: center;
                    gap: $spc-1;
                    padding: $spc-103 $spc-103;
                    font-size: $spc-3;
                    @media(max-width:780px){
                        font-size: $spc-5;
                    }
                    & img{
                        border-radius: $spc-8;
                        @media(max-width:780px){
                            width: $spc-5;
                            height: $spc-5;
                        }
                    }
                }
               &__footer-body1{
                padding: $spc-1 $spc-103;
                font-size: $spc-3;
                @media(max-width:780px){
                    font-size: $spc-5;
                }
               }
               &__footer-footer{
                color:$color-24-300;
                padding: $spc-103 $spc-103;
                font-size: $spc-3;
                @media(max-width:780px){
                    font-size: $spc-5;
                }
               }
            }
          }
      }
      &__instagram-logo{
        margin-top: -$spc-121;
        margin-left: auto;
        margin-right: auto;
        width:$spc-122;
        display: flex;
        padding: $spc-4 $spc-2;
        align-items: center;
        justify-content: center;
        gap: $spc-4;
        background-color: $color-primary-300;
        color: $color-secondary-300;
        border-radius: $spc-4;
        @media(max-width:780px){
             margin-top: -$spc-111;
          }
      }
}